<h2>RecipeList</h2>
<div class="row">
  <% @cooks.each do |cook|%>
    <div class="col-lg-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Title:<%= cook.title %></h3>
          <div class="buttons">
            <%= link_to "/cooks/#{cook.id}/delete", method: :delete, class: "glyphicon-mark", data: {confirm: "削除します。よろしいですか？" }  do %>
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <% end %>
            <%= link_to "/cooks/#{cook.id}/edit", class: "glyphicon-mark" do %>
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            <% end %>
            
          </div>
        </div>
        <div class="panel-body">
          <iframe width="520" height="315" src="https://www.youtube.com/embed/<%= cook.iframe %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div> 
        <div class="panel-footer">
          <%= link_to  "レシピをみる", "/cooks/#{cook.id}" %>
        </div>
      </div>
    </div>
  <% end %>

</div>